.hero-heading {
  color: #151515;
  margin: 1em 0.625em 0.25em 0.625em;
}
.hero-date {
  color: #151515;
  font-size: 0.75rem;
  margin: 2.666667em 1.66666667em 1.333333em 1.66666667em;
}
.hero-text {
  color: #151515;
  margin: 1em 1.25em 2.25em 1.25em;
}
.feature-img {
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: 0 1.25em 0em 1.25em;
}
.about-me-information {
  margin-top: 2.1875em;
}
.about-me-heading {
  margin: 1em 1.06837em;
  color: #151515;
  font-size: 1rem;
  font-weight: 700;
}
.about-me-text {
  margin: 1em 1.25em;
  color: #151515;
}
.blog-posts {
  margin: 0em 1.25em 0em 1.25em;
}
.last-post {
  margin-bottom: 3.5em;
}
.recent-post-heading {
  margin-top: 3.1875em;
  text-align: center;
}

.about-me-portrait-image {
  width: 150px;
  height: 150px;
  margin: 1.625em 0 1em 1.25em;
  border-radius: 100%;
}
.hero-about-me-heading {
  font-size: 2.177375rem;
  letter-spacing: -1.045px;
  margin: 0 0.59em 0em 0.59em;
}
.hero-about-me-text {
  color: #151515;
  font-size: 1rem;
  margin: 1.5em 1.25em;
}
.about-me-information {
  margin-top: 3.125em;
}

@media (min-width: 600px) {
  .about-me-portrait-image {
    margin: 0 1.25em 0 3em;
    width: 170px;
    height: 170px;
  }
  .hero-container {
    display: flex;
    align-items: center;
  }
  .hero-info-container {
    display: flex;
    flex-direction: column;
  }
  .about-me-information {
    font-size: 1.1428rem;
  }
  .blog-posts {
    margin: 0 1.875em;
  }
  .recent-post-heading {
    margin-bottom: 1em;
  }
  body {
    background-color: #fafafa;
  }
  main {
    padding: 0;
  }
  header {
    background-color: #fff;
  }
  .hero-date {
    font-size: 1rem;
    margin: 4.4375em 3.125em 1.5em 3.125em;
  }
  .hero-text {
    font-size: 1rem;
    margin: 1.6875em 3.125em 2.25em 3.125em;
  }
  .hero-heading {
    font-size: 2.25rem;
    letter-spacing: -1.08px;
    margin: 0 1.388889em 0 1.388889em;
  }
  .hero-container {
    margin: 3em 1em 3em 1em;
  }
  .feature-img {
    width: 100%;
    padding: 0 3.3125em 0em 3.3125em;
  }
  .about-me-information {
    color: #151515;
    margin: 1.6875em 3.125em 2.25em 3.125em;
  }
  .about-me-heading,
  .about-me-text {
    margin: 1em 0;
  }
  .about-me-heading {
    font-size: 1.5rem;
  }
  .about-me-text {
    font-size: 1.1428rem;
  }
  .blog-post {
    margin-bottom: 0;
  }
  .blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.25em;
    margin: 1.75em 2.5em 0 2.5em;
  }
}

@media (min-width: 1000px) {
  .about-me-portrait-image {
    width: 182px;
    height: 182px;
    margin-left: 0;
  }
  .hero-container {
    margin: 4em 0em 4.0625em 0em;
  }
  .hero-section-white-bg {
    margin: 0 2.65em;
  }
  .about-me-information {
    margin: 0 7.5625em 3.1875em 7.5625em;
  }
  .blog-posts {
    margin: 1.75em 3.3125em;
  }
  .hero-section-white-bg {
    font-size: 1.25rem;
  }
  .hero-date,
  .hero-text {
    margin-left: 7.5625em;
    margin-right: 7.5625em;
  }
  .hero-heading {
    margin-left: 3.3611em;
  }
  .about-me-information {
    margin: 0 7.5625em 4.5625em 7.5625em;
  }
  .blog-posts {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .recent-post-heading {
    font-size: 1.5rem;
    line-height: 108.2%;
    margin-top: 0;
  }
}
