.hero-view-more-heading {
  font-size: 32px;
  letter-spacing: -0.96px;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}
.dark-hero-date {
  margin-top: 3em;
}
.feature-img {
  border-radius: 3px;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 768px) {
  .feature-img {
    padding-left: 3em;
    padding-right: 3em;
  }
}
