.image-developer {
  width: 182px;
  margin-bottom: 27px;
}

.about-me-information {
  margin-top: 50px;
}

@media (min-width: 690px) {
  .image-developer {
    display: block;
    border: 2px solid magenta;
    align-self: center;
    justify-self: center;
    margin-bottom: 0;
  }
  .hero-container {
    display: flex;
    align-items: center;
    margin-top: 91px;
    margin-left: 53px;
    margin-bottom: 0;
    border: 2px solid blue;
  }
  .hero-info-container {
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-content: center;
    margin: 0;
  }
  .about-me-information {
    margin-left: 121px;
    margin-right: 121px;
  }
}
