* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 21px 15px 20px;
}
h1 {
  font-size: 13.552px;
  font-weight: 700;
  line-height: 108.2%;
  letter-spacing: -0.407px;
  color: #0e0e0e;
  font-family: "Roboto", sans-serif;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 23.162px;
  height: 23.162px;
  margin-right: 3.09px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

li a {
  text-decoration: none;
  color: #090909;
}

li {
  list-style: none;
  margin-left: 40px;
  color: #090909;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
}

.hero-section {
  background-image: url("./images/article-image-hero.png");
  background-size: cover;
  height: 293px;
  width: 100%;
  color: #fff;
  padding: 87px 20px 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.hero-date {
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #fff;
  font-size: 12px;
}
.hero-heading {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  line-height: 108.2%;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}
.hero-text {
  font-size: 16px;
}

main {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 20px;
}

.blog-posts {
  display: grid;
}

.blog-post {
  padding-top: 0;
  padding-bottom: 0;
}
.blog-img {
  padding-top: 34px;
  width: 100%;
  object-fit: cover;
}
.blog-text {
  color: #505050;
  font-size: 16px;
  line-height: 125%;
}

.view-more-link {
  text-align: center;
  display: block;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  margin-top: 27px;
  margin-bottom: 43px;
}
.last-post {
  margin-bottom: 0;
  padding-bottom: 0;
}

footer {
  background-color: #202020;
  color: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38.5px 0;
  width: 100%;
}
.footer-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 108.2%;
  letter-spacing: -0.36px;
}
.footer-subtitle {
  color: #d7d7d7;
  font-size: 12px;
  font-weight: 400;
  line-height: 125%;
}
.hidden {
  display: none;
}

@media (min-width: 690px) {
  h1 {
    font-size: 20.03px;
    letter-spacing: -0.601px;
  }

  .logo {
    width: 34.246px;
    height: 34.246px;
  }
  li {
    font-size: 16px;
  }
  .hero-section {
    height: 488px;
  }
  .hero-information {
    margin-right: 375px;
  }
  .hero-date {
    font-size: 16px;
  }
  .hero-heading {
    font-size: 40px;
    letter-spacing: -1.2px;
    margin-bottom: 8px;
  }

  main {
    padding: 0 53px;
  }

  .blog-posts {
    display: grid;
  }
  .blog-img {
    padding-top: 53px;
  }
  .view-more-link {
    font-size: 14.173px;
    margin-top: 31px;
    margin-bottom: 51px;
  }
  .blog-posts {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "img img img"
      "date date date"
      "title title title"
      "text text text";
    gap: 1em;
  }
  .blog-img {
    margin: 0 auto;
    grid-area: img;
  }
  .blog-date {
    grid-area: date;
    margin-bottom: 14px;
  }
  .blog-title {
    grid-area: title;
  }
  .blog-text {
    grid-area: text;
  }
  .hidden {
    display: block;
  }
}
