* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 13.552px;
  font-weight: 700;
  line-height: 108.2%;
  letter-spacing: -0.407px;
  color: #0e0e0e;
  font-family: "Roboto", sans-serif;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 23.162px;
  height: 23.162px;
  margin-right: 3.09px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

li a {
  text-decoration: none;
  color: #090909;
}

li {
  list-style: none;
  margin-left: 40px;
  color: #090909;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 21px 24px 23px 20px;
}
.hero-section {
  background-image: url("./images/article-image-hero.png");
  background-size: cover;
  height: 293px;
  width: 100%;
  color: #fff;
  padding: 87px 20px 25px 20px;
}
.hero-date {
  text-transform: uppercase;
  margin-bottom: 8px;
}
.hero-heading {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  line-height: 108.2%;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}
.hero-text {
  font-size: 16px;
}

main {
  padding: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

.blog-posts {
  display: grid;
}

@media (min-width: 690px) {
  .blog-posts {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "img img img"
      "date date date"
      "title title title"
      "text text text";
    gap: 1em;
  }
}

.blog-img {
  width: 100%;
  margin: 0 auto;
  grid-area: img;
}
.blog-date {
  grid-area: date;
  color: #000;
  font-size: 14.173px;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 9px;
}
.blog-title {
  grid-area: title;
  color: #141414;
  font-size: 24px;
  margin-bottom: 9px;
}
.blog-text {
  grid-area: text;
  font-size: 16px;
  line-height: 1.25;
  color: #505050;
  font-family: "Source Sans 3", sans-serif;
  margin-bottom: 41px;
}
